<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myApp">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyC_fUdP_YcJvtRWq4nBBfAKjU1JIcAqAzg"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.myApp.liste"/>
        <activity android:name="com.example.myApp.login" />
        <activity android:name="com.example.myApp.Inscription" />
        <activity android:name="com.example.myApp.Accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>